body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1099px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11991 {
  position:absolute;
  left:57px;
  top:44px;
  width:375px;
  height:40px;
}
#u11992 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:17px;
}
#u11993 {
  position:absolute;
  left:57px;
  top:25px;
  width:375px;
  height:17px;
}
#u11994 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u11995 {
  position:absolute;
  left:68px;
  top:54px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u11996 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u11997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u11997 {
  position:absolute;
  left:180px;
  top:54px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u11998 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u11999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1143px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11999 {
  position:absolute;
  left:57px;
  top:84px;
  width:375px;
  height:1143px;
}
#u12000 {
  position:absolute;
  left:2px;
  top:564px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12001 {
  position:absolute;
  left:58px;
  top:84px;
  width:373px;
  height:142px;
}
#u12002 {
  position:absolute;
  left:2px;
  top:63px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12003 {
  position:absolute;
  left:76px;
  top:132px;
  width:235px;
  height:16px;
}
#u12004 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12005 {
  position:absolute;
  left:57px;
  top:156px;
  width:380px;
  height:1px;
}
#u12006 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12007 {
  position:absolute;
  left:76px;
  top:165px;
  width:235px;
  height:16px;
}
#u12008 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12009 {
  position:absolute;
  left:57px;
  top:189px;
  width:380px;
  height:1px;
}
#u12010 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12011 {
  position:absolute;
  left:76px;
  top:201px;
  width:235px;
  height:16px;
}
#u12012 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12013 {
  position:absolute;
  left:57px;
  top:225px;
  width:380px;
  height:1px;
}
#u12014 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12015 {
  position:absolute;
  left:57px;
  top:120px;
  width:380px;
  height:1px;
}
#u12016 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u12017 {
  position:absolute;
  left:68px;
  top:96px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12018 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u12019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12021 {
  position:absolute;
  left:58px;
  top:525px;
  width:373px;
  height:221px;
}
#u12022 {
  position:absolute;
  left:2px;
  top:102px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:32px;
}
#u12023 {
  position:absolute;
  left:150px;
  top:562px;
  width:270px;
  height:32px;
}
#u12024 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u12025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u12025 {
  position:absolute;
  left:64px;
  top:562px;
  width:80px;
  height:80px;
}
#u12026 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:14px;
}
#u12027 {
  position:absolute;
  left:150px;
  top:601px;
  width:229px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u12028 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u12029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:2px;
}
#u12029 {
  position:absolute;
  left:58px;
  top:647px;
  width:369px;
  height:1px;
}
#u12030 {
  position:absolute;
  left:2px;
  top:-8px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:32px;
}
#u12031 {
  position:absolute;
  left:150px;
  top:658px;
  width:270px;
  height:32px;
}
#u12032 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u12033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u12033 {
  position:absolute;
  left:64px;
  top:658px;
  width:80px;
  height:80px;
}
#u12034 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:14px;
}
#u12035 {
  position:absolute;
  left:150px;
  top:697px;
  width:229px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u12036 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u12037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:2px;
}
#u12037 {
  position:absolute;
  left:57px;
  top:555px;
  width:369px;
  height:1px;
}
#u12038 {
  position:absolute;
  left:2px;
  top:-8px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12039 {
  position:absolute;
  left:65px;
  top:532px;
  width:235px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u12040 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:16px;
}
#u12041 {
  position:absolute;
  left:191px;
  top:239px;
  width:229px;
  height:16px;
  color:#F15353;
  text-align:right;
}
#u12042 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:274px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12043 {
  position:absolute;
  left:58px;
  top:237px;
  width:373px;
  height:274px;
}
#u12044 {
  position:absolute;
  left:2px;
  top:129px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12045 {
  position:absolute;
  left:76px;
  top:281px;
  width:235px;
  height:16px;
}
#u12046 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12047 {
  position:absolute;
  left:57px;
  top:305px;
  width:380px;
  height:1px;
}
#u12048 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12049 {
  position:absolute;
  left:76px;
  top:314px;
  width:235px;
  height:16px;
}
#u12050 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12051 {
  position:absolute;
  left:57px;
  top:338px;
  width:380px;
  height:1px;
}
#u12052 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12053 {
  position:absolute;
  left:76px;
  top:351px;
  width:235px;
  height:16px;
}
#u12054 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12055 {
  position:absolute;
  left:57px;
  top:269px;
  width:380px;
  height:1px;
}
#u12056 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u12057 {
  position:absolute;
  left:68px;
  top:245px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12058 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12059 {
  position:absolute;
  left:56px;
  top:377px;
  width:380px;
  height:1px;
}
#u12060 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u12061 {
  position:absolute;
  left:77px;
  top:388px;
  width:105px;
  height:16px;
}
#u12062 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u12063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12063 {
  position:absolute;
  left:52px;
  top:415px;
  width:380px;
  height:1px;
}
#u12064 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u12065 {
  position:absolute;
  left:77px;
  top:427px;
  width:105px;
  height:16px;
  color:#666666;
}
#u12066 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u12067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12067 {
  position:absolute;
  left:57px;
  top:454px;
  width:380px;
  height:1px;
}
#u12068 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:32px;
}
#u12069 {
  position:absolute;
  left:77px;
  top:464px;
  width:340px;
  height:32px;
  color:#666666;
}
#u12070 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  white-space:nowrap;
}
#u12071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12071 {
  position:absolute;
  left:58px;
  top:760px;
  width:373px;
  height:102px;
}
#u12072 {
  position:absolute;
  left:2px;
  top:43px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12073 {
  position:absolute;
  left:76px;
  top:804px;
  width:235px;
  height:16px;
}
#u12074 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12075 {
  position:absolute;
  left:57px;
  top:828px;
  width:380px;
  height:1px;
}
#u12076 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12077 {
  position:absolute;
  left:76px;
  top:837px;
  width:235px;
  height:16px;
}
#u12078 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12079 {
  position:absolute;
  left:57px;
  top:861px;
  width:380px;
  height:1px;
}
#u12080 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12081 {
  position:absolute;
  left:57px;
  top:792px;
  width:380px;
  height:1px;
}
#u12082 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u12083 {
  position:absolute;
  left:68px;
  top:768px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12084 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u12085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12086 {
  position:absolute;
  left:58px;
  top:995px;
  width:373px;
  height:177px;
}
#u12087 {
  position:absolute;
  left:2px;
  top:80px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12088 {
  position:absolute;
  left:56px;
  top:1027px;
  width:380px;
  height:1px;
  color:#000000;
}
#u12089 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u12090 {
  position:absolute;
  left:67px;
  top:1003px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12091 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u12092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u12092 {
  position:absolute;
  left:57px;
  top:1027px;
  width:371px;
  height:1px;
}
#u12093 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12094 {
  position:absolute;
  left:67px;
  top:1034px;
  width:112px;
  height:16px;
  color:#999999;
}
#u12095 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u12096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u12096 {
  position:absolute;
  left:67px;
  top:1053px;
  width:89px;
  height:14px;
  font-size:11px;
}
#u12097 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12098 {
  position:absolute;
  left:344px;
  top:1044px;
  width:79px;
  height:16px;
  color:#000000;
}
#u12099 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u12100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u12100 {
  position:absolute;
  left:57px;
  top:1075px;
  width:371px;
  height:1px;
}
#u12101 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u12102 {
  position:absolute;
  left:57px;
  top:1075px;
  width:371px;
  height:1px;
}
#u12103 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12104 {
  position:absolute;
  left:67px;
  top:1082px;
  width:112px;
  height:16px;
  color:#999999;
}
#u12105 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u12106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u12106 {
  position:absolute;
  left:67px;
  top:1101px;
  width:95px;
  height:14px;
  font-size:11px;
}
#u12107 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u12108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12108 {
  position:absolute;
  left:371px;
  top:1092px;
  width:53px;
  height:16px;
  color:#000000;
}
#u12109 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u12110 {
  position:absolute;
  left:57px;
  top:1123px;
  width:371px;
  height:1px;
}
#u12111 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u12112 {
  position:absolute;
  left:57px;
  top:1123px;
  width:371px;
  height:1px;
}
#u12113 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12114 {
  position:absolute;
  left:67px;
  top:1130px;
  width:112px;
  height:16px;
  color:#999999;
}
#u12115 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u12116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u12116 {
  position:absolute;
  left:67px;
  top:1150px;
  width:95px;
  height:14px;
  font-size:11px;
}
#u12117 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u12118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12118 {
  position:absolute;
  left:371px;
  top:1140px;
  width:53px;
  height:16px;
  color:#000000;
}
#u12119 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u12120 {
  position:absolute;
  left:57px;
  top:1171px;
  width:371px;
  height:1px;
}
#u12121 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u12122 {
  position:absolute;
  left:57px;
  top:1171px;
  width:371px;
  height:1px;
}
#u12123 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12124 {
  position:absolute;
  left:57px;
  top:1187px;
  width:374px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12125 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  word-wrap:break-word;
}
#u12126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12126 {
  position:absolute;
  left:58px;
  top:876px;
  width:373px;
  height:106px;
}
#u12127 {
  position:absolute;
  left:2px;
  top:45px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12128 {
  position:absolute;
  left:77px;
  top:922px;
  width:235px;
  height:16px;
}
#u12129 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u12130 {
  position:absolute;
  left:58px;
  top:946px;
  width:373px;
  height:1px;
}
#u12131 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12132 {
  position:absolute;
  left:77px;
  top:955px;
  width:235px;
  height:16px;
}
#u12133 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u12134 {
  position:absolute;
  left:58px;
  top:910px;
  width:373px;
  height:1px;
}
#u12135 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u12136 {
  position:absolute;
  left:69px;
  top:886px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12137 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u12138 {
  position:absolute;
  left:58px;
  top:981px;
  width:373px;
  height:1px;
}
#u12139 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1826px;
}
#u12140 {
  position:absolute;
  left:507px;
  top:22px;
  width:1px;
  height:1825px;
}
#u12141 {
  position:absolute;
  left:2px;
  top:904px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u12142 {
  position:absolute;
  left:532px;
  top:67px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12143 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u12144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:25px;
}
#u12144 {
  position:absolute;
  left:592px;
  top:75px;
  width:507px;
  height:25px;
  font-size:16px;
}
#u12145 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  word-wrap:break-word;
}
#u12146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12146 {
  position:absolute;
  left:532px;
  top:25px;
  width:129px;
  height:22px;
  font-size:18px;
}
#u12147 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u12148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u12148 {
  position:absolute;
  left:441px;
  top:1194px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12149 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
