body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:418px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:16px;
}
#u17271 {
  position:absolute;
  left:43px;
  top:25px;
  width:375px;
  height:16px;
}
#u17272 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17273 {
  position:absolute;
  left:43px;
  top:42px;
  width:375px;
  height:40px;
}
#u17274 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u17275 {
  position:absolute;
  left:51px;
  top:51px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u17276 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u17277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u17277 {
  position:absolute;
  left:166px;
  top:51px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u17278 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u17279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:596px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17279 {
  position:absolute;
  left:43px;
  top:82px;
  width:375px;
  height:596px;
}
#u17280 {
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17281 {
  position:absolute;
  left:86px;
  top:593px;
  width:200px;
  height:16px;
}
#u17282 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:495px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17283 {
  position:absolute;
  left:44px;
  top:82px;
  width:373px;
  height:495px;
}
#u17284 {
  position:absolute;
  left:2px;
  top:240px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17285 {
  position:absolute;
  left:52px;
  top:95px;
  width:53px;
  height:16px;
}
#u17286 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u17287 {
  position:absolute;
  left:44px;
  top:122px;
  width:374px;
  height:1px;
}
#u17288 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u17289 {
  position:absolute;
  left:52px;
  top:134px;
  width:58px;
  height:16px;
}
#u17290 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u17291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u17291 {
  position:absolute;
  left:44px;
  top:327px;
  width:374px;
  height:1px;
}
#u17292 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u17293 {
  position:absolute;
  left:52px;
  top:339px;
  width:84px;
  height:16px;
}
#u17294 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u17295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u17295 {
  position:absolute;
  left:241px;
  top:95px;
  width:170px;
  height:16px;
}
#u17296 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u17297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:151px;
}
#u17297 {
  position:absolute;
  left:52px;
  top:160px;
  width:150px;
  height:150px;
}
#u17298 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:151px;
}
#u17299 {
  position:absolute;
  left:52px;
  top:365px;
  width:150px;
  height:150px;
}
#u17300 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u17301 {
  position:absolute;
  left:43px;
  top:530px;
  width:374px;
  height:1px;
}
#u17302 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u17303 {
  position:absolute;
  left:51px;
  top:547px;
  width:66px;
  height:16px;
}
#u17304 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u17305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u17305 {
  position:absolute;
  left:43px;
  top:576px;
  width:374px;
  height:1px;
}
#u17306 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17307 {
  position:absolute;
  left:358px;
  top:548px;
  width:53px;
  height:16px;
}
#u17308 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17309 {
  position:absolute;
  left:43px;
  top:638px;
  width:374px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17310 {
  position:absolute;
  left:2px;
  top:10px;
  width:370px;
  word-wrap:break-word;
}
#u17311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:14px;
}
#u17311 {
  position:absolute;
  left:114px;
  top:136px;
  width:118px;
  height:14px;
  font-size:11px;
}
#u17312 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u17313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:14px;
}
#u17313 {
  position:absolute;
  left:141px;
  top:341px;
  width:118px;
  height:14px;
  font-size:11px;
}
#u17314 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u17315 {
  position:absolute;
  left:43px;
  top:631px;
  width:374px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
