body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1206px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:18px;
}
#u5940 {
  position:absolute;
  left:57px;
  top:25px;
  width:375px;
  height:18px;
}
#u5941 {
  position:absolute;
  left:2px;
  top:1px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5942 {
  position:absolute;
  left:57px;
  top:44px;
  width:375px;
  height:40px;
}
#u5943 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5944 {
  position:absolute;
  left:63px;
  top:54px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5945 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u5946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u5946 {
  position:absolute;
  left:180px;
  top:54px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u5947 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u5948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:658px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5948 {
  position:absolute;
  left:57px;
  top:84px;
  width:375px;
  height:658px;
}
#u5949 {
  position:absolute;
  left:2px;
  top:321px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5950 {
  position:absolute;
  left:58px;
  top:88px;
  width:373px;
  height:40px;
}
#u5951 {
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(211, 73, 73, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5952 {
  position:absolute;
  left:57px;
  top:698px;
  width:375px;
  height:44px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5953 {
  position:absolute;
  left:18px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u5954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5955 {
  position:absolute;
  left:66px;
  top:94px;
  width:356px;
  height:25px;
}
#u5955_input {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u5955_input {
  font-family:'应用字体';
}
#u5956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u5956 {
  position:absolute;
  left:393px;
  top:96px;
  width:24px;
  height:22px;
}
#u5957 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:561px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5958 {
  position:absolute;
  left:58px;
  top:138px;
  width:373px;
  height:561px;
}
#u5959 {
  position:absolute;
  left:2px;
  top:272px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u5960 {
  position:absolute;
  left:58px;
  top:175px;
  width:373px;
  height:1px;
}
#u5961 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u5962 {
  position:absolute;
  left:58px;
  top:138px;
  width:373px;
  height:1px;
}
#u5963 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5964 {
  position:absolute;
  left:363px;
  top:139px;
  width:68px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5965 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u5966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u5966 {
  position:absolute;
  left:57px;
  top:212px;
  width:373px;
  height:1px;
}
#u5967 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u5968 {
  position:absolute;
  left:66px;
  top:187px;
  width:90px;
  height:16px;
}
#u5969 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u5970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5970 {
  position:absolute;
  left:363px;
  top:176px;
  width:68px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5971 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u5972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u5972 {
  position:absolute;
  left:66px;
  top:149px;
  width:40px;
  height:16px;
}
#u5973 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u5974 {
  position:absolute;
  left:58px;
  top:249px;
  width:373px;
  height:1px;
}
#u5975 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5976 {
  position:absolute;
  left:363px;
  top:213px;
  width:68px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5977 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u5978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u5978 {
  position:absolute;
  left:66px;
  top:223px;
  width:49px;
  height:16px;
}
#u5979 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1826px;
}
#u5980 {
  position:absolute;
  left:488px;
  top:25px;
  width:1px;
  height:1825px;
}
#u5981 {
  position:absolute;
  left:2px;
  top:904px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u5982 {
  position:absolute;
  left:514px;
  top:70px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5983 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u5984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:25px;
}
#u5984 {
  position:absolute;
  left:565px;
  top:78px;
  width:507px;
  height:25px;
  font-size:16px;
}
#u5985 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  word-wrap:break-word;
}
#u5986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5986 {
  position:absolute;
  left:513px;
  top:28px;
  width:129px;
  height:22px;
  font-size:18px;
}
#u5987 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u5988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u5988 {
  position:absolute;
  left:441px;
  top:94px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5989 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u5990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u5990 {
  position:absolute;
  left:441px;
  top:170px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5991 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u5992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:2px;
}
#u5992 {
  position:absolute;
  left:488px;
  top:149px;
  width:718px;
  height:1px;
}
#u5993 {
  position:absolute;
  left:2px;
  top:-8px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u5994 {
  position:absolute;
  left:514px;
  top:177px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5995 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u5996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:25px;
}
#u5996 {
  position:absolute;
  left:565px;
  top:185px;
  width:507px;
  height:25px;
  font-size:16px;
}
#u5997 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  word-wrap:break-word;
}
#u5998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5998 {
  position:absolute;
  left:363px;
  top:213px;
  width:68px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5999 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u6000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u6000 {
  position:absolute;
  left:58px;
  top:287px;
  width:373px;
  height:1px;
}
#u6001 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6002 {
  position:absolute;
  left:363px;
  top:251px;
  width:68px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6003 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u6004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u6004 {
  position:absolute;
  left:57px;
  top:324px;
  width:373px;
  height:1px;
}
#u6005 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u6006 {
  position:absolute;
  left:66px;
  top:299px;
  width:90px;
  height:16px;
}
#u6007 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u6008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6008 {
  position:absolute;
  left:363px;
  top:288px;
  width:68px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6009 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u6010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u6010 {
  position:absolute;
  left:66px;
  top:261px;
  width:40px;
  height:16px;
}
#u6011 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u6012 {
  position:absolute;
  left:58px;
  top:361px;
  width:373px;
  height:1px;
}
#u6013 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u6014 {
  position:absolute;
  left:66px;
  top:335px;
  width:49px;
  height:16px;
}
#u6015 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6016 {
  position:absolute;
  left:363px;
  top:325px;
  width:68px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6017 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u6018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6018 {
  position:absolute;
  left:363px;
  top:251px;
  width:68px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6019 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u6020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u6020 {
  position:absolute;
  left:58px;
  top:398px;
  width:373px;
  height:1px;
}
#u6021 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u6022 {
  position:absolute;
  left:57px;
  top:435px;
  width:373px;
  height:1px;
}
#u6023 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u6024 {
  position:absolute;
  left:66px;
  top:410px;
  width:90px;
  height:16px;
}
#u6025 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u6026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6026 {
  position:absolute;
  left:363px;
  top:399px;
  width:68px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6027 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u6028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u6028 {
  position:absolute;
  left:66px;
  top:372px;
  width:40px;
  height:16px;
}
#u6029 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u6030 {
  position:absolute;
  left:58px;
  top:472px;
  width:373px;
  height:1px;
}
#u6031 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u6032 {
  position:absolute;
  left:66px;
  top:446px;
  width:49px;
  height:16px;
}
#u6033 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6034 {
  position:absolute;
  left:363px;
  top:436px;
  width:68px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6035 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u6036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6036 {
  position:absolute;
  left:363px;
  top:362px;
  width:68px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6037 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u6038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6038 {
  position:absolute;
  left:363px;
  top:362px;
  width:68px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6039 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u6040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6040 {
  position:absolute;
  left:363px;
  top:399px;
  width:68px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6041 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u6042 {
  position:absolute;
  left:41px;
  top:698px;
  width:400px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
