body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1109px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12300 {
  position:absolute;
  left:33px;
  top:40px;
  width:375px;
  height:40px;
}
#u12301 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:17px;
}
#u12302 {
  position:absolute;
  left:33px;
  top:21px;
  width:375px;
  height:17px;
}
#u12303 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u12304 {
  position:absolute;
  left:44px;
  top:50px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u12305 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u12306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u12306 {
  position:absolute;
  left:156px;
  top:50px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u12307 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u12308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:900px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12308 {
  position:absolute;
  left:33px;
  top:80px;
  width:375px;
  height:900px;
}
#u12309 {
  position:absolute;
  left:2px;
  top:442px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12310 {
  position:absolute;
  left:34px;
  top:82px;
  width:373px;
  height:179px;
}
#u12311 {
  position:absolute;
  left:2px;
  top:82px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12312 {
  position:absolute;
  left:52px;
  top:130px;
  width:235px;
  height:16px;
}
#u12313 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12314 {
  position:absolute;
  left:33px;
  top:154px;
  width:380px;
  height:1px;
}
#u12315 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12316 {
  position:absolute;
  left:52px;
  top:163px;
  width:235px;
  height:16px;
}
#u12317 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12318 {
  position:absolute;
  left:33px;
  top:224px;
  width:380px;
  height:1px;
}
#u12319 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:16px;
}
#u12320 {
  position:absolute;
  left:52px;
  top:198px;
  width:316px;
  height:16px;
}
#u12321 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  word-wrap:break-word;
}
#u12322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12322 {
  position:absolute;
  left:33px;
  top:263px;
  width:380px;
  height:1px;
}
#u12323 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12324 {
  position:absolute;
  left:33px;
  top:118px;
  width:380px;
  height:1px;
}
#u12325 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u12326 {
  position:absolute;
  left:44px;
  top:94px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12327 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u12328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:252px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12328 {
  position:absolute;
  left:34px;
  top:563px;
  width:373px;
  height:252px;
}
#u12329 {
  position:absolute;
  left:2px;
  top:118px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:32px;
}
#u12330 {
  position:absolute;
  left:126px;
  top:600px;
  width:270px;
  height:32px;
}
#u12331 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u12332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u12332 {
  position:absolute;
  left:40px;
  top:600px;
  width:80px;
  height:80px;
}
#u12333 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:14px;
}
#u12334 {
  position:absolute;
  left:126px;
  top:639px;
  width:229px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u12335 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u12336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:2px;
}
#u12336 {
  position:absolute;
  left:34px;
  top:685px;
  width:369px;
  height:1px;
}
#u12337 {
  position:absolute;
  left:2px;
  top:-8px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:32px;
}
#u12338 {
  position:absolute;
  left:126px;
  top:696px;
  width:270px;
  height:32px;
}
#u12339 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u12340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u12340 {
  position:absolute;
  left:40px;
  top:696px;
  width:80px;
  height:80px;
}
#u12341 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:14px;
}
#u12342 {
  position:absolute;
  left:126px;
  top:735px;
  width:229px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u12343 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u12344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:2px;
}
#u12344 {
  position:absolute;
  left:33px;
  top:593px;
  width:369px;
  height:1px;
}
#u12345 {
  position:absolute;
  left:2px;
  top:-8px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12346 {
  position:absolute;
  left:41px;
  top:570px;
  width:235px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u12347 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:16px;
}
#u12348 {
  position:absolute;
  left:167px;
  top:277px;
  width:229px;
  height:16px;
  color:#F15353;
  text-align:right;
}
#u12349 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:274px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12350 {
  position:absolute;
  left:34px;
  top:275px;
  width:373px;
  height:274px;
}
#u12351 {
  position:absolute;
  left:2px;
  top:129px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12352 {
  position:absolute;
  left:52px;
  top:319px;
  width:235px;
  height:16px;
}
#u12353 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12354 {
  position:absolute;
  left:33px;
  top:343px;
  width:380px;
  height:1px;
}
#u12355 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12356 {
  position:absolute;
  left:52px;
  top:352px;
  width:235px;
  height:16px;
}
#u12357 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12358 {
  position:absolute;
  left:33px;
  top:376px;
  width:380px;
  height:1px;
}
#u12359 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12360 {
  position:absolute;
  left:52px;
  top:389px;
  width:235px;
  height:16px;
}
#u12361 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12362 {
  position:absolute;
  left:33px;
  top:307px;
  width:380px;
  height:1px;
}
#u12363 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u12364 {
  position:absolute;
  left:44px;
  top:283px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12365 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12366 {
  position:absolute;
  left:32px;
  top:415px;
  width:380px;
  height:1px;
}
#u12367 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u12368 {
  position:absolute;
  left:53px;
  top:426px;
  width:105px;
  height:16px;
}
#u12369 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u12370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12370 {
  position:absolute;
  left:28px;
  top:453px;
  width:380px;
  height:1px;
}
#u12371 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u12372 {
  position:absolute;
  left:53px;
  top:465px;
  width:105px;
  height:16px;
  color:#666666;
}
#u12373 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u12374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12374 {
  position:absolute;
  left:33px;
  top:492px;
  width:380px;
  height:1px;
}
#u12375 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:32px;
}
#u12376 {
  position:absolute;
  left:53px;
  top:502px;
  width:340px;
  height:32px;
  color:#666666;
}
#u12377 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  white-space:nowrap;
}
#u12378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12378 {
  position:absolute;
  left:34px;
  top:828px;
  width:373px;
  height:102px;
}
#u12379 {
  position:absolute;
  left:2px;
  top:43px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12380 {
  position:absolute;
  left:52px;
  top:872px;
  width:235px;
  height:16px;
}
#u12381 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12382 {
  position:absolute;
  left:33px;
  top:896px;
  width:380px;
  height:1px;
}
#u12383 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12384 {
  position:absolute;
  left:52px;
  top:905px;
  width:235px;
  height:16px;
}
#u12385 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12386 {
  position:absolute;
  left:33px;
  top:929px;
  width:380px;
  height:1px;
}
#u12387 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12388 {
  position:absolute;
  left:33px;
  top:860px;
  width:380px;
  height:1px;
}
#u12389 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u12390 {
  position:absolute;
  left:44px;
  top:836px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12391 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u12392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12392 {
  position:absolute;
  left:215px;
  top:940px;
  width:193px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12393 {
  position:absolute;
  left:2px;
  top:12px;
  width:189px;
  word-wrap:break-word;
}
#u12394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12394 {
  position:absolute;
  left:33px;
  top:940px;
  width:183px;
  height:40px;
  color:#FF0000;
}
#u12395 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  word-wrap:break-word;
}
#u12396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:2px;
}
#u12396 {
  position:absolute;
  left:34px;
  top:779px;
  width:369px;
  height:1px;
}
#u12397 {
  position:absolute;
  left:2px;
  top:-8px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u12398 {
  position:absolute;
  left:300px;
  top:660px;
  width:93px;
  height:16px;
  color:#F15353;
  text-align:right;
}
#u12399 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u12400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u12400 {
  position:absolute;
  left:127px;
  top:661px;
  width:34px;
  height:14px;
  font-size:11px;
}
#u12401 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u12402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u12402 {
  position:absolute;
  left:299px;
  top:755px;
  width:93px;
  height:16px;
  color:#F15353;
  text-align:right;
}
#u12403 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u12404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u12404 {
  position:absolute;
  left:126px;
  top:756px;
  width:34px;
  height:14px;
  font-size:11px;
}
#u12405 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u12406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u12406 {
  position:absolute;
  left:44px;
  top:790px;
  width:79px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u12407 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u12408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u12408 {
  position:absolute;
  left:126px;
  top:790px;
  width:60px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u12409 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u12410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12410 {
  position:absolute;
  left:33px;
  top:187px;
  width:380px;
  height:1px;
}
#u12411 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12412 {
  position:absolute;
  left:52px;
  top:234px;
  width:235px;
  height:16px;
}
#u12413 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12414 {
  position:absolute;
  left:33px;
  top:260px;
  width:380px;
  height:1px;
}
#u12415 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12416 {
  position:absolute;
  left:215px;
  top:940px;
  width:193px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1826px;
}
#u12417 {
  position:absolute;
  left:517px;
  top:21px;
  width:1px;
  height:1825px;
}
#u12418 {
  position:absolute;
  left:2px;
  top:904px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u12419 {
  position:absolute;
  left:542px;
  top:66px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12420 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u12421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:25px;
}
#u12421 {
  position:absolute;
  left:602px;
  top:74px;
  width:507px;
  height:25px;
  font-size:16px;
}
#u12422 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  word-wrap:break-word;
}
#u12423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12423 {
  position:absolute;
  left:542px;
  top:24px;
  width:129px;
  height:22px;
  font-size:18px;
}
#u12424 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
