body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1095px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:18px;
}
#u6973 {
  position:absolute;
  left:57px;
  top:25px;
  width:375px;
  height:18px;
}
#u6974 {
  position:absolute;
  left:2px;
  top:1px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6975 {
  position:absolute;
  left:57px;
  top:44px;
  width:375px;
  height:40px;
}
#u6976 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u6977 {
  position:absolute;
  left:63px;
  top:54px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u6978 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u6979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u6979 {
  position:absolute;
  left:180px;
  top:54px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u6980 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u6981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:734px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6981 {
  position:absolute;
  left:57px;
  top:84px;
  width:375px;
  height:734px;
}
#u6982 {
  position:absolute;
  left:2px;
  top:359px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6983 {
  position:absolute;
  left:58px;
  top:90px;
  width:373px;
  height:35px;
}
#u6984 {
  position:absolute;
  left:2px;
  top:10px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6985 {
  position:absolute;
  left:63px;
  top:99px;
  width:80px;
  height:16px;
}
#u6986 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u6987 {
  position:absolute;
  left:220px;
  top:99px;
  width:200px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u6988 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:202px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6989 {
  position:absolute;
  left:58px;
  top:137px;
  width:373px;
  height:202px;
}
#u6990 {
  position:absolute;
  left:2px;
  top:93px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6991 {
  position:absolute;
  left:63px;
  top:147px;
  width:80px;
  height:16px;
}
#u6992 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u6993 {
  position:absolute;
  left:220px;
  top:147px;
  width:200px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u6994 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u6995 {
  position:absolute;
  left:57px;
  top:174px;
  width:374px;
  height:1px;
}
#u6996 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6997 {
  position:absolute;
  left:63px;
  top:186px;
  width:80px;
  height:16px;
}
#u6998 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u6999 {
  position:absolute;
  left:220px;
  top:186px;
  width:200px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u7000 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7001 {
  position:absolute;
  left:57px;
  top:215px;
  width:374px;
  height:1px;
}
#u7002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7003 {
  position:absolute;
  left:63px;
  top:231px;
  width:80px;
  height:16px;
}
#u7004 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u7005 {
  position:absolute;
  left:222px;
  top:231px;
  width:200px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u7006 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7007 {
  position:absolute;
  left:57px;
  top:261px;
  width:374px;
  height:1px;
}
#u7008 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7009 {
  position:absolute;
  left:64px;
  top:275px;
  width:101px;
  height:16px;
}
#u7010 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u7011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u7011 {
  position:absolute;
  left:221px;
  top:275px;
  width:200px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u7012 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7013 {
  position:absolute;
  left:58px;
  top:307px;
  width:374px;
  height:1px;
}
#u7014 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7015 {
  position:absolute;
  left:64px;
  top:315px;
  width:101px;
  height:16px;
}
#u7016 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u7017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u7017 {
  position:absolute;
  left:221px;
  top:315px;
  width:200px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u7018 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7019 {
  position:absolute;
  left:58px;
  top:339px;
  width:374px;
  height:1px;
}
#u7020 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7021 {
  position:absolute;
  left:58px;
  top:351px;
  width:373px;
  height:80px;
}
#u7022 {
  position:absolute;
  left:2px;
  top:32px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7023 {
  position:absolute;
  left:65px;
  top:362px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7024 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u7025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u7025 {
  position:absolute;
  left:222px;
  top:362px;
  width:200px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u7026 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7027 {
  position:absolute;
  left:59px;
  top:389px;
  width:374px;
  height:1px;
}
#u7028 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7029 {
  position:absolute;
  left:65px;
  top:401px;
  width:80px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7030 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u7031 {
  position:absolute;
  left:222px;
  top:401px;
  width:200px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u7032 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7033 {
  position:absolute;
  left:59px;
  top:430px;
  width:374px;
  height:1px;
}
#u7034 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:321px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7035 {
  position:absolute;
  left:58px;
  top:444px;
  width:373px;
  height:321px;
}
#u7036 {
  position:absolute;
  left:2px;
  top:152px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7037 {
  position:absolute;
  left:65px;
  top:455px;
  width:113px;
  height:16px;
}
#u7038 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u7039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u7039 {
  position:absolute;
  left:222px;
  top:455px;
  width:200px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u7040 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7041 {
  position:absolute;
  left:59px;
  top:482px;
  width:374px;
  height:1px;
}
#u7042 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7043 {
  position:absolute;
  left:65px;
  top:494px;
  width:113px;
  height:16px;
}
#u7044 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u7045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u7045 {
  position:absolute;
  left:222px;
  top:494px;
  width:200px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u7046 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7047 {
  position:absolute;
  left:58px;
  top:520px;
  width:374px;
  height:1px;
}
#u7048 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7049 {
  position:absolute;
  left:64px;
  top:532px;
  width:113px;
  height:16px;
}
#u7050 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u7051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u7051 {
  position:absolute;
  left:221px;
  top:532px;
  width:200px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u7052 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7053 {
  position:absolute;
  left:59px;
  top:559px;
  width:374px;
  height:1px;
}
#u7054 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7055 {
  position:absolute;
  left:65px;
  top:570px;
  width:113px;
  height:16px;
}
#u7056 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u7057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u7057 {
  position:absolute;
  left:222px;
  top:570px;
  width:200px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u7058 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7059 {
  position:absolute;
  left:59px;
  top:597px;
  width:374px;
  height:1px;
}
#u7060 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7061 {
  position:absolute;
  left:66px;
  top:612px;
  width:113px;
  height:16px;
}
#u7062 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u7063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u7063 {
  position:absolute;
  left:223px;
  top:612px;
  width:200px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u7064 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7065 {
  position:absolute;
  left:60px;
  top:667px;
  width:374px;
  height:1px;
}
#u7066 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u7067 {
  position:absolute;
  left:73px;
  top:640px;
  width:125px;
  height:16px;
  color:#FF0000;
}
#u7068 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u7069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7069 {
  position:absolute;
  left:66px;
  top:685px;
  width:113px;
  height:16px;
}
#u7070 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u7071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u7071 {
  position:absolute;
  left:222px;
  top:685px;
  width:200px;
  height:16px;
  color:#999999;
  text-align:right;
}
#u7072 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7073 {
  position:absolute;
  left:245px;
  top:778px;
  width:187px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7074 {
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u7075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7075 {
  position:absolute;
  left:58px;
  top:778px;
  width:187px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7076 {
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u7077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7077 {
  position:absolute;
  left:58px;
  top:719px;
  width:374px;
  height:1px;
}
#u7078 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7079 {
  position:absolute;
  left:66px;
  top:733px;
  width:113px;
  height:16px;
}
#u7080 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u7081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u7081 {
  position:absolute;
  left:222px;
  top:731px;
  width:200px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u7082 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1826px;
}
#u7083 {
  position:absolute;
  left:503px;
  top:25px;
  width:1px;
  height:1825px;
}
#u7084 {
  position:absolute;
  left:2px;
  top:904px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u7085 {
  position:absolute;
  left:528px;
  top:70px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7086 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u7087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:25px;
}
#u7087 {
  position:absolute;
  left:588px;
  top:71px;
  width:507px;
  height:25px;
  font-size:16px;
}
#u7088 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  word-wrap:break-word;
}
#u7089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7089 {
  position:absolute;
  left:528px;
  top:28px;
  width:129px;
  height:22px;
  font-size:18px;
}
#u7090 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u7091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u7091 {
  position:absolute;
  left:441px;
  top:100px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7092 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u7093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u7093 {
  position:absolute;
  left:442px;
  top:782px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7094 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u7095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u7095 {
  position:absolute;
  left:528px;
  top:208px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7096 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u7097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:25px;
}
#u7097 {
  position:absolute;
  left:588px;
  top:209px;
  width:507px;
  height:25px;
  font-size:16px;
}
#u7098 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  word-wrap:break-word;
}
