body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1206px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:18px;
}
#u6043 {
  position:absolute;
  left:57px;
  top:25px;
  width:375px;
  height:18px;
}
#u6044 {
  position:absolute;
  left:2px;
  top:1px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6045 {
  position:absolute;
  left:57px;
  top:44px;
  width:375px;
  height:40px;
}
#u6046 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u6047 {
  position:absolute;
  left:63px;
  top:54px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u6048 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u6049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u6049 {
  position:absolute;
  left:180px;
  top:54px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u6050 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u6051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:658px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6051 {
  position:absolute;
  left:57px;
  top:84px;
  width:375px;
  height:658px;
}
#u6052 {
  position:absolute;
  left:2px;
  top:321px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6053 {
  position:absolute;
  left:58px;
  top:88px;
  width:373px;
  height:40px;
}
#u6054 {
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(211, 73, 73, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6055 {
  position:absolute;
  left:57px;
  top:698px;
  width:375px;
  height:44px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6056 {
  position:absolute;
  left:18px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u6057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6058 {
  position:absolute;
  left:66px;
  top:94px;
  width:356px;
  height:25px;
}
#u6058_input {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u6058_input {
  font-family:'应用字体';
}
#u6059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u6059 {
  position:absolute;
  left:393px;
  top:96px;
  width:24px;
  height:22px;
}
#u6060 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:561px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6061 {
  position:absolute;
  left:58px;
  top:138px;
  width:373px;
  height:561px;
}
#u6062 {
  position:absolute;
  left:2px;
  top:272px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u6063 {
  position:absolute;
  left:58px;
  top:138px;
  width:373px;
  height:1px;
}
#u6064 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1826px;
}
#u6065 {
  position:absolute;
  left:488px;
  top:25px;
  width:1px;
  height:1825px;
}
#u6066 {
  position:absolute;
  left:2px;
  top:904px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u6067 {
  position:absolute;
  left:514px;
  top:70px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6068 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u6069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:25px;
}
#u6069 {
  position:absolute;
  left:565px;
  top:78px;
  width:507px;
  height:25px;
  font-size:16px;
}
#u6070 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  word-wrap:break-word;
}
#u6071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6071 {
  position:absolute;
  left:513px;
  top:28px;
  width:129px;
  height:22px;
  font-size:18px;
}
#u6072 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u6073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u6073 {
  position:absolute;
  left:441px;
  top:94px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6074 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u6075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u6075 {
  position:absolute;
  left:441px;
  top:170px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6076 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u6077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:2px;
}
#u6077 {
  position:absolute;
  left:488px;
  top:149px;
  width:718px;
  height:1px;
}
#u6078 {
  position:absolute;
  left:2px;
  top:-8px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u6079 {
  position:absolute;
  left:514px;
  top:177px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6080 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u6081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:25px;
}
#u6081 {
  position:absolute;
  left:565px;
  top:183px;
  width:507px;
  height:25px;
  font-size:16px;
}
#u6082 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  word-wrap:break-word;
}
#u6083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 83, 83, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F15353;
}
#u6083 {
  position:absolute;
  left:66px;
  top:154px;
  width:170px;
  height:40px;
  color:#F15353;
}
#u6084 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u6085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6085 {
  position:absolute;
  left:248px;
  top:154px;
  width:170px;
  height:40px;
  color:#000000;
}
#u6086 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u6087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6087 {
  position:absolute;
  left:66px;
  top:210px;
  width:170px;
  height:40px;
  color:#000000;
}
#u6088 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u6089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6089 {
  position:absolute;
  left:248px;
  top:210px;
  width:170px;
  height:40px;
  color:#000000;
}
#u6090 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u6091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 83, 83, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F15353;
}
#u6091 {
  position:absolute;
  left:248px;
  top:264px;
  width:170px;
  height:40px;
  color:#F15353;
}
#u6092 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u6093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6093 {
  position:absolute;
  left:66px;
  top:264px;
  width:170px;
  height:40px;
  color:#000000;
}
#u6094 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u6095 {
  position:absolute;
  left:41px;
  top:698px;
  width:400px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
