body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1276px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2996 {
  position:absolute;
  left:42px;
  top:43px;
  width:375px;
  height:40px;
}
#u2997 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:18px;
}
#u2998 {
  position:absolute;
  left:42px;
  top:23px;
  width:375px;
  height:18px;
}
#u2999 {
  position:absolute;
  left:2px;
  top:1px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u3000 {
  position:absolute;
  left:54px;
  top:53px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u3001 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u3002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u3002 {
  position:absolute;
  left:165px;
  top:53px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u3003 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u3004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:766px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3004 {
  position:absolute;
  left:42px;
  top:83px;
  width:375px;
  height:766px;
}
#u3005 {
  position:absolute;
  left:2px;
  top:375px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3006 {
  position:absolute;
  left:43px;
  top:84px;
  width:373px;
  height:35px;
}
#u3007 {
  position:absolute;
  left:2px;
  top:10px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3008 {
  position:absolute;
  left:49px;
  top:90px;
  width:143px;
  height:20px;
  line-height:20px;
}
#u3009 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u3010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u3010 {
  position:absolute;
  left:296px;
  top:91px;
  width:113px;
  height:20px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u3011 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u3012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3012 {
  position:absolute;
  left:43px;
  top:131px;
  width:373px;
  height:82px;
}
#u3013 {
  position:absolute;
  left:2px;
  top:33px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3014 {
  position:absolute;
  left:49px;
  top:138px;
  width:143px;
  height:20px;
  line-height:20px;
}
#u3015 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u3016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3016 {
  position:absolute;
  left:49px;
  top:162px;
  width:360px;
  height:36px;
  line-height:20px;
}
#u3017 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u3018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:243px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3018 {
  position:absolute;
  left:43px;
  top:225px;
  width:373px;
  height:243px;
}
#u3019 {
  position:absolute;
  left:2px;
  top:114px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3020 {
  position:absolute;
  left:137px;
  top:245px;
  width:201px;
  height:32px;
  color:#000000;
}
#u3021 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u3022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3022 {
  position:absolute;
  left:138px;
  top:284px;
  width:200px;
  height:16px;
}
#u3023 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u3024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u3024 {
  position:absolute;
  left:51px;
  top:336px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u3025 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u3026 {
  position:absolute;
  left:93px;
  top:336px;
  width:300px;
  height:16px;
}
#u3027 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u3028 {
  position:absolute;
  left:43px;
  top:362px;
  width:373px;
  height:1px;
}
#u3029 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3030 {
  position:absolute;
  left:137px;
  top:375px;
  width:207px;
  height:32px;
  color:#000000;
}
#u3031 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u3032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3032 {
  position:absolute;
  left:138px;
  top:414px;
  width:200px;
  height:16px;
}
#u3033 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u3034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:307px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3034 {
  position:absolute;
  left:43px;
  top:484px;
  width:373px;
  height:307px;
}
#u3035 {
  position:absolute;
  left:2px;
  top:146px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u3036 {
  position:absolute;
  left:49px;
  top:245px;
  width:80px;
  height:80px;
}
#u3037 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u3038 {
  position:absolute;
  left:49px;
  top:375px;
  width:80px;
  height:80px;
}
#u3039 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  line-height:20px;
}
#u3040 {
  position:absolute;
  left:50px;
  top:575px;
  width:143px;
  height:20px;
  color:#000000;
  line-height:20px;
}
#u3041 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u3042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  line-height:20px;
}
#u3042 {
  position:absolute;
  left:50px;
  top:532px;
  width:143px;
  height:20px;
  color:#000000;
  line-height:20px;
}
#u3043 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u3044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u3044 {
  position:absolute;
  left:43px;
  top:562px;
  width:373px;
  height:1px;
}
#u3045 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u3046 {
  position:absolute;
  left:43px;
  top:608px;
  width:373px;
  height:1px;
}
#u3047 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  line-height:20px;
}
#u3048 {
  position:absolute;
  left:50px;
  top:619px;
  width:143px;
  height:20px;
  color:#000000;
  line-height:20px;
}
#u3049 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u3050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u3050 {
  position:absolute;
  left:293px;
  top:532px;
  width:117px;
  height:20px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u3051 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u3052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u3052 {
  position:absolute;
  left:268px;
  top:575px;
  width:143px;
  height:20px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u3053 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u3054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u3054 {
  position:absolute;
  left:269px;
  top:619px;
  width:143px;
  height:20px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u3055 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u3056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u3056 {
  position:absolute;
  left:43px;
  top:648px;
  width:373px;
  height:1px;
}
#u3057 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  line-height:20px;
}
#u3058 {
  position:absolute;
  left:50px;
  top:659px;
  width:143px;
  height:20px;
  color:#000000;
  line-height:20px;
}
#u3059 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u3060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u3060 {
  position:absolute;
  left:270px;
  top:659px;
  width:143px;
  height:20px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u3061 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u3062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u3062 {
  position:absolute;
  left:43px;
  top:691px;
  width:373px;
  height:1px;
}
#u3063 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  line-height:20px;
}
#u3064 {
  position:absolute;
  left:50px;
  top:702px;
  width:143px;
  height:20px;
  color:#000000;
  line-height:20px;
}
#u3065 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u3066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u3066 {
  position:absolute;
  left:270px;
  top:702px;
  width:143px;
  height:20px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u3067 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u3068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u3068 {
  position:absolute;
  left:43px;
  top:732px;
  width:373px;
  height:1px;
}
#u3069 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u3070 {
  position:absolute;
  left:269px;
  top:741px;
  width:143px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
  line-height:20px;
}
#u3071 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u3072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u3072 {
  position:absolute;
  left:174px;
  top:766px;
  width:238px;
  height:20px;
  font-size:11px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u3073 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u3074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  line-height:20px;
}
#u3074 {
  position:absolute;
  left:50px;
  top:494px;
  width:143px;
  height:20px;
  color:#000000;
  line-height:20px;
}
#u3075 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u3076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u3076 {
  position:absolute;
  left:43px;
  top:524px;
  width:373px;
  height:1px;
}
#u3077 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  line-height:20px;
}
#u3078 {
  position:absolute;
  left:359px;
  top:494px;
  width:271px;
  height:20px;
  color:#000000;
  line-height:20px;
}
#u3079 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u3080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  line-height:20px;
}
#u3080 {
  position:absolute;
  left:302px;
  top:742px;
  width:98px;
  height:20px;
  color:#000000;
  line-height:20px;
}
#u3081 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u3082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3082 {
  position:absolute;
  left:336px;
  top:803px;
  width:74px;
  height:28px;
  color:#FF0000;
}
#u3083 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u3084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:16px;
}
#u3084 {
  position:absolute;
  left:181px;
  top:245px;
  width:229px;
  height:16px;
  color:#F15353;
  text-align:right;
}
#u3085 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u3086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u3086 {
  position:absolute;
  left:392px;
  top:269px;
  width:44px;
  height:16px;
}
#u3087 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u3088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:16px;
}
#u3088 {
  position:absolute;
  left:180px;
  top:376px;
  width:229px;
  height:16px;
  color:#F15353;
  text-align:right;
}
#u3089 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u3090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:14px;
}
#u3090 {
  position:absolute;
  left:394px;
  top:400px;
  width:44px;
  height:14px;
  font-size:11px;
}
#u3091 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u3092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3092 {
  position:absolute;
  left:248px;
  top:803px;
  width:74px;
  height:28px;
  color:#FF0000;
}
#u3093 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u3094 {
  position:absolute;
  left:332px;
  top:800px;
  width:81px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3095 {
  position:absolute;
  left:248px;
  top:803px;
  width:81px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1826px;
}
#u3096 {
  position:absolute;
  left:527px;
  top:23px;
  width:1px;
  height:1825px;
}
#u3097 {
  position:absolute;
  left:2px;
  top:904px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u3098 {
  position:absolute;
  left:552px;
  top:68px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3099 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u3100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:25px;
}
#u3100 {
  position:absolute;
  left:612px;
  top:69px;
  width:507px;
  height:25px;
  font-size:16px;
}
#u3101 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  word-wrap:break-word;
}
#u3102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u3102 {
  position:absolute;
  left:552px;
  top:162px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3103 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u3104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:76px;
}
#u3104 {
  position:absolute;
  left:612px;
  top:169px;
  width:614px;
  height:76px;
  font-size:16px;
}
#u3105 {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  word-wrap:break-word;
}
#u3106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3106 {
  position:absolute;
  left:552px;
  top:26px;
  width:129px;
  height:22px;
  font-size:18px;
}
#u3107 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u3108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2px;
}
#u3108 {
  position:absolute;
  left:527px;
  top:135px;
  width:749px;
  height:1px;
}
#u3109 {
  position:absolute;
  left:2px;
  top:-8px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u3110 {
  position:absolute;
  left:427px;
  top:295px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3111 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u3112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u3112 {
  position:absolute;
  left:427px;
  top:803px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3113 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
