body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:351px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:575px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u664 {
  position:absolute;
  left:31px;
  top:66px;
  width:320px;
  height:575px;
}
#u665 {
  position:absolute;
  left:2px;
  top:280px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 111, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u666 {
  position:absolute;
  left:31px;
  top:26px;
  width:320px;
  height:40px;
}
#u667 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u668 {
  position:absolute;
  left:129px;
  top:37px;
  width:124px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:571px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u670 {
  position:absolute;
  left:32px;
  top:66px;
  width:318px;
  height:571px;
}
#u671 {
  position:absolute;
  left:2px;
  top:278px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:371px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u672 {
  position:absolute;
  left:32px;
  top:66px;
  width:318px;
  height:371px;
}
#u673 {
  position:absolute;
  left:2px;
  top:178px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u674 {
  position:absolute;
  left:43px;
  top:78px;
  width:23px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 111, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 111, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u676 {
  position:absolute;
  left:31px;
  top:601px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u677 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u678 {
  position:absolute;
  left:39px;
  top:33px;
  width:70px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u680 {
  position:absolute;
  left:92px;
  top:78px;
  width:45px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u682 {
  position:absolute;
  left:168px;
  top:78px;
  width:45px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u683 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u684 {
  position:absolute;
  left:248px;
  top:78px;
  width:45px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u686 {
  position:absolute;
  left:319px;
  top:78px;
  width:23px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u688 {
  position:absolute;
  left:43px;
  top:117px;
  width:6px;
  height:12px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u690 {
  position:absolute;
  left:84px;
  top:117px;
  width:55px;
  height:12px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u691 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u692 {
  position:absolute;
  left:32px;
  top:98px;
  width:319px;
  height:1px;
}
#u693 {
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u694 {
  position:absolute;
  left:171px;
  top:117px;
  width:37px;
  height:12px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u696 {
  position:absolute;
  left:239px;
  top:110px;
  width:73px;
  height:36px;
  font-size:9px;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u698 {
  position:absolute;
  left:182px;
  top:127px;
  width:37px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  white-space:nowrap;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 111, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 111, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u700 {
  position:absolute;
  left:314px;
  top:99px;
  width:37px;
  height:49px;
}
#u701 {
  position:absolute;
  left:2px;
  top:16px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:12px;
}
#u702 {
  position:absolute;
  left:318px;
  top:118px;
  width:30px;
  height:12px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
  text-align:center;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u704 {
  position:absolute;
  left:32px;
  top:147px;
  width:319px;
  height:1px;
}
#u705 {
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u706 {
  position:absolute;
  left:43px;
  top:167px;
  width:6px;
  height:12px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u708 {
  position:absolute;
  left:84px;
  top:167px;
  width:55px;
  height:12px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u710 {
  position:absolute;
  left:171px;
  top:167px;
  width:37px;
  height:12px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u712 {
  position:absolute;
  left:239px;
  top:160px;
  width:73px;
  height:36px;
  font-size:9px;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 111, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 111, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u714 {
  position:absolute;
  left:314px;
  top:148px;
  width:37px;
  height:50px;
}
#u715 {
  position:absolute;
  left:2px;
  top:17px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:12px;
}
#u716 {
  position:absolute;
  left:318px;
  top:167px;
  width:30px;
  height:12px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
  text-align:center;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u718 {
  position:absolute;
  left:32px;
  top:197px;
  width:319px;
  height:1px;
}
#u719 {
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720 {
  position:absolute;
  left:31px;
  top:599px;
  width:318px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
