body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1047px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u1688 {
  position:absolute;
  left:64px;
  top:23px;
  width:308px;
  height:13px;
}
#u1689 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1690 {
  position:absolute;
  left:58px;
  top:37px;
  width:322px;
  height:30px;
}
#u1691 {
  position:absolute;
  left:2px;
  top:7px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u1692 {
  position:absolute;
  left:64px;
  top:42px;
  width:129px;
  height:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u1693 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u1694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u1694 {
  position:absolute;
  left:152px;
  top:43px;
  width:129px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u1695 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u1696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:509px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1696 {
  position:absolute;
  left:58px;
  top:67px;
  width:322px;
  height:509px;
}
#u1697 {
  position:absolute;
  left:2px;
  top:246px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1698 {
  position:absolute;
  left:64px;
  top:79px;
  width:308px;
  height:154px;
}
#u1699 {
  position:absolute;
  left:2px;
  top:69px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u1700 {
  position:absolute;
  left:305px;
  top:241px;
  width:67px;
  height:16px;
}
#u1701 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1702 {
  position:absolute;
  left:58px;
  top:536px;
  width:322px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1703 {
  position:absolute;
  left:2px;
  top:12px;
  width:318px;
  word-wrap:break-word;
}
#u1704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1826px;
}
#u1704 {
  position:absolute;
  left:457px;
  top:23px;
  width:1px;
  height:1825px;
}
#u1705 {
  position:absolute;
  left:2px;
  top:904px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1706 {
  position:absolute;
  left:482px;
  top:68px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1707 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u1708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:25px;
}
#u1708 {
  position:absolute;
  left:540px;
  top:76px;
  width:507px;
  height:25px;
  font-size:16px;
}
#u1709 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  word-wrap:break-word;
}
#u1710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1710 {
  position:absolute;
  left:482px;
  top:26px;
  width:129px;
  height:22px;
  font-size:18px;
}
#u1711 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
