body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:437px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12150 {
  position:absolute;
  left:57px;
  top:41px;
  width:375px;
  height:40px;
}
#u12151 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:17px;
}
#u12152 {
  position:absolute;
  left:57px;
  top:22px;
  width:375px;
  height:17px;
}
#u12153 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u12154 {
  position:absolute;
  left:68px;
  top:51px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u12155 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u12156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u12156 {
  position:absolute;
  left:180px;
  top:51px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u12157 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u12158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1143px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12158 {
  position:absolute;
  left:57px;
  top:81px;
  width:375px;
  height:1143px;
}
#u12159 {
  position:absolute;
  left:2px;
  top:564px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12160 {
  position:absolute;
  left:58px;
  top:81px;
  width:373px;
  height:142px;
}
#u12161 {
  position:absolute;
  left:2px;
  top:63px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12162 {
  position:absolute;
  left:76px;
  top:129px;
  width:235px;
  height:16px;
}
#u12163 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12164 {
  position:absolute;
  left:57px;
  top:153px;
  width:380px;
  height:1px;
}
#u12165 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12166 {
  position:absolute;
  left:76px;
  top:162px;
  width:235px;
  height:16px;
}
#u12167 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12168 {
  position:absolute;
  left:57px;
  top:186px;
  width:380px;
  height:1px;
}
#u12169 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12170 {
  position:absolute;
  left:76px;
  top:198px;
  width:235px;
  height:16px;
}
#u12171 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12172 {
  position:absolute;
  left:57px;
  top:222px;
  width:380px;
  height:1px;
}
#u12173 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12174 {
  position:absolute;
  left:57px;
  top:117px;
  width:380px;
  height:1px;
}
#u12175 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u12176 {
  position:absolute;
  left:68px;
  top:93px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12177 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u12178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12179 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12180 {
  position:absolute;
  left:58px;
  top:522px;
  width:373px;
  height:221px;
}
#u12181 {
  position:absolute;
  left:2px;
  top:102px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:32px;
}
#u12182 {
  position:absolute;
  left:150px;
  top:559px;
  width:270px;
  height:32px;
}
#u12183 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u12184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u12184 {
  position:absolute;
  left:64px;
  top:559px;
  width:80px;
  height:80px;
}
#u12185 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:14px;
}
#u12186 {
  position:absolute;
  left:150px;
  top:598px;
  width:229px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u12187 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u12188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:2px;
}
#u12188 {
  position:absolute;
  left:58px;
  top:644px;
  width:369px;
  height:1px;
}
#u12189 {
  position:absolute;
  left:2px;
  top:-8px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:32px;
}
#u12190 {
  position:absolute;
  left:150px;
  top:655px;
  width:270px;
  height:32px;
}
#u12191 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u12192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u12192 {
  position:absolute;
  left:64px;
  top:655px;
  width:80px;
  height:80px;
}
#u12193 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:14px;
}
#u12194 {
  position:absolute;
  left:150px;
  top:694px;
  width:229px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u12195 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u12196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:2px;
}
#u12196 {
  position:absolute;
  left:57px;
  top:552px;
  width:369px;
  height:1px;
}
#u12197 {
  position:absolute;
  left:2px;
  top:-8px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12198 {
  position:absolute;
  left:65px;
  top:529px;
  width:235px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u12199 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:16px;
}
#u12200 {
  position:absolute;
  left:191px;
  top:236px;
  width:229px;
  height:16px;
  color:#F15353;
  text-align:right;
}
#u12201 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:274px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12202 {
  position:absolute;
  left:58px;
  top:234px;
  width:373px;
  height:274px;
}
#u12203 {
  position:absolute;
  left:2px;
  top:129px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12204 {
  position:absolute;
  left:76px;
  top:278px;
  width:235px;
  height:16px;
}
#u12205 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12206 {
  position:absolute;
  left:57px;
  top:302px;
  width:380px;
  height:1px;
}
#u12207 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12208 {
  position:absolute;
  left:76px;
  top:311px;
  width:235px;
  height:16px;
}
#u12209 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12210 {
  position:absolute;
  left:57px;
  top:335px;
  width:380px;
  height:1px;
}
#u12211 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12212 {
  position:absolute;
  left:76px;
  top:348px;
  width:235px;
  height:16px;
}
#u12213 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12214 {
  position:absolute;
  left:57px;
  top:266px;
  width:380px;
  height:1px;
}
#u12215 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u12216 {
  position:absolute;
  left:68px;
  top:242px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12217 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12218 {
  position:absolute;
  left:56px;
  top:374px;
  width:380px;
  height:1px;
}
#u12219 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u12220 {
  position:absolute;
  left:77px;
  top:385px;
  width:105px;
  height:16px;
}
#u12221 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u12222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12222 {
  position:absolute;
  left:52px;
  top:412px;
  width:380px;
  height:1px;
}
#u12223 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u12224 {
  position:absolute;
  left:77px;
  top:424px;
  width:105px;
  height:16px;
  color:#666666;
}
#u12225 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u12226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12226 {
  position:absolute;
  left:57px;
  top:451px;
  width:380px;
  height:1px;
}
#u12227 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:32px;
}
#u12228 {
  position:absolute;
  left:77px;
  top:461px;
  width:340px;
  height:32px;
  color:#666666;
}
#u12229 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  white-space:nowrap;
}
#u12230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12230 {
  position:absolute;
  left:58px;
  top:757px;
  width:373px;
  height:102px;
}
#u12231 {
  position:absolute;
  left:2px;
  top:43px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12232 {
  position:absolute;
  left:76px;
  top:801px;
  width:235px;
  height:16px;
}
#u12233 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12234 {
  position:absolute;
  left:57px;
  top:825px;
  width:380px;
  height:1px;
}
#u12235 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12236 {
  position:absolute;
  left:76px;
  top:834px;
  width:235px;
  height:16px;
}
#u12237 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12238 {
  position:absolute;
  left:57px;
  top:858px;
  width:380px;
  height:1px;
}
#u12239 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12240 {
  position:absolute;
  left:57px;
  top:789px;
  width:380px;
  height:1px;
}
#u12241 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u12242 {
  position:absolute;
  left:68px;
  top:765px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12243 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u12244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12245 {
  position:absolute;
  left:58px;
  top:992px;
  width:373px;
  height:177px;
}
#u12246 {
  position:absolute;
  left:2px;
  top:80px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u12247 {
  position:absolute;
  left:56px;
  top:1024px;
  width:380px;
  height:1px;
  color:#000000;
}
#u12248 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u12249 {
  position:absolute;
  left:67px;
  top:1000px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12250 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u12251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u12251 {
  position:absolute;
  left:57px;
  top:1024px;
  width:371px;
  height:1px;
}
#u12252 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12253 {
  position:absolute;
  left:67px;
  top:1031px;
  width:112px;
  height:16px;
  color:#999999;
}
#u12254 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u12255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u12255 {
  position:absolute;
  left:67px;
  top:1050px;
  width:89px;
  height:14px;
  font-size:11px;
}
#u12256 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12257 {
  position:absolute;
  left:344px;
  top:1041px;
  width:79px;
  height:16px;
  color:#000000;
}
#u12258 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u12259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u12259 {
  position:absolute;
  left:57px;
  top:1072px;
  width:371px;
  height:1px;
}
#u12260 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u12261 {
  position:absolute;
  left:57px;
  top:1072px;
  width:371px;
  height:1px;
}
#u12262 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12263 {
  position:absolute;
  left:67px;
  top:1079px;
  width:112px;
  height:16px;
  color:#999999;
}
#u12264 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u12265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u12265 {
  position:absolute;
  left:67px;
  top:1098px;
  width:95px;
  height:14px;
  font-size:11px;
}
#u12266 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u12267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12267 {
  position:absolute;
  left:371px;
  top:1089px;
  width:53px;
  height:16px;
  color:#000000;
}
#u12268 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u12269 {
  position:absolute;
  left:57px;
  top:1120px;
  width:371px;
  height:1px;
}
#u12270 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u12271 {
  position:absolute;
  left:57px;
  top:1120px;
  width:371px;
  height:1px;
}
#u12272 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12273 {
  position:absolute;
  left:67px;
  top:1127px;
  width:112px;
  height:16px;
  color:#999999;
}
#u12274 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u12275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u12275 {
  position:absolute;
  left:67px;
  top:1147px;
  width:95px;
  height:14px;
  font-size:11px;
}
#u12276 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u12277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12277 {
  position:absolute;
  left:371px;
  top:1137px;
  width:53px;
  height:16px;
  color:#000000;
}
#u12278 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u12279 {
  position:absolute;
  left:57px;
  top:1168px;
  width:371px;
  height:1px;
}
#u12280 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u12281 {
  position:absolute;
  left:57px;
  top:1168px;
  width:371px;
  height:1px;
}
#u12282 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12283 {
  position:absolute;
  left:56px;
  top:1184px;
  width:375px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12284 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u12285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12285 {
  position:absolute;
  left:58px;
  top:873px;
  width:373px;
  height:106px;
}
#u12286 {
  position:absolute;
  left:2px;
  top:45px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12287 {
  position:absolute;
  left:77px;
  top:919px;
  width:235px;
  height:16px;
}
#u12288 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u12289 {
  position:absolute;
  left:58px;
  top:943px;
  width:373px;
  height:1px;
}
#u12290 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u12291 {
  position:absolute;
  left:77px;
  top:952px;
  width:235px;
  height:16px;
}
#u12292 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u12293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u12293 {
  position:absolute;
  left:58px;
  top:907px;
  width:373px;
  height:1px;
}
#u12294 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u12295 {
  position:absolute;
  left:69px;
  top:883px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12296 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u12297 {
  position:absolute;
  left:58px;
  top:978px;
  width:373px;
  height:1px;
}
#u12298 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12299 {
  position:absolute;
  left:57px;
  top:1179px;
  width:374px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
