body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:837px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:666px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17042 {
  position:absolute;
  left:46px;
  top:32px;
  width:360px;
  height:666px;
}
#u17043 {
  position:absolute;
  left:2px;
  top:325px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
}
#u17044 {
  position:absolute;
  left:46px;
  top:32px;
  width:360px;
  height:20px;
}
#u17045 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:358px;
}
#u17046 {
  position:absolute;
  left:47px;
  top:136px;
  width:358px;
  height:358px;
}
#u17047 {
  position:absolute;
  left:2px;
  top:171px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u17048 {
  position:absolute;
  left:98px;
  top:516px;
  width:256px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u17049 {
  position:absolute;
  left:2px;
  top:12px;
  width:252px;
  word-wrap:break-word;
}
#u17050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:666px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17051 {
  position:absolute;
  left:477px;
  top:32px;
  width:360px;
  height:666px;
}
#u17052 {
  position:absolute;
  left:2px;
  top:325px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
}
#u17053 {
  position:absolute;
  left:477px;
  top:32px;
  width:360px;
  height:20px;
}
#u17054 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:358px;
}
#u17055 {
  position:absolute;
  left:478px;
  top:136px;
  width:358px;
  height:358px;
}
#u17056 {
  position:absolute;
  left:2px;
  top:171px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u17057 {
  position:absolute;
  left:529px;
  top:516px;
  width:256px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u17058 {
  position:absolute;
  left:2px;
  top:12px;
  width:252px;
  word-wrap:break-word;
}
#u17059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:562px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.898039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17059 {
  position:absolute;
  left:477px;
  top:136px;
  width:359px;
  height:562px;
}
#u17060 {
  position:absolute;
  left:2px;
  top:273px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17061 {
  position:absolute;
  left:487px;
  top:561px;
  width:340px;
  height:80px;
}
#u17062 {
  position:absolute;
  left:2px;
  top:32px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u17063 {
  position:absolute;
  left:644px;
  top:572px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u17064 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u17065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u17065 {
  position:absolute;
  left:488px;
  top:601px;
  width:340px;
  height:1px;
}
#u17066 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u17067 {
  position:absolute;
  left:628px;
  top:612px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u17068 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17069 {
  position:absolute;
  left:487px;
  top:650px;
  width:340px;
  height:40px;
  font-size:16px;
}
#u17070 {
  position:absolute;
  left:2px;
  top:10px;
  width:336px;
  word-wrap:break-word;
}
#u17071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u17071 {
  position:absolute;
  left:54px;
  top:63px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u17072 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u17073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u17073 {
  position:absolute;
  left:487px;
  top:63px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u17074 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
