body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1276px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14917 {
  position:absolute;
  left:31px;
  top:41px;
  width:375px;
  height:40px;
}
#u14918 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:17px;
}
#u14919 {
  position:absolute;
  left:31px;
  top:22px;
  width:375px;
  height:17px;
}
#u14920 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u14921 {
  position:absolute;
  left:42px;
  top:51px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u14922 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u14923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u14923 {
  position:absolute;
  left:154px;
  top:51px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u14924 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u14925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:596px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14925 {
  position:absolute;
  left:31px;
  top:81px;
  width:375px;
  height:596px;
}
#u14926 {
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:247px;
}
#u14927 {
  position:absolute;
  left:42px;
  top:105px;
  width:353px;
  height:247px;
}
#u14928 {
  position:absolute;
  left:2px;
  top:116px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 168, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14929 {
  position:absolute;
  left:154px;
  top:273px;
  width:129px;
  height:31px;
}
#u14930 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:31px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14931 {
  position:absolute;
  left:123px;
  top:193px;
  width:193px;
  height:31px;
}
#u14932 {
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14933 {
  position:absolute;
  left:98px;
  top:205px;
  width:241px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14934 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u14935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u14935 {
  position:absolute;
  left:170px;
  top:279px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u14936 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u14937 {
  position:absolute;
  left:42px;
  top:257px;
  width:353px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1826px;
}
#u14938 {
  position:absolute;
  left:527px;
  top:23px;
  width:1px;
  height:1825px;
}
#u14939 {
  position:absolute;
  left:2px;
  top:904px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u14940 {
  position:absolute;
  left:552px;
  top:68px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u14941 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u14942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:25px;
}
#u14942 {
  position:absolute;
  left:612px;
  top:69px;
  width:507px;
  height:25px;
  font-size:16px;
}
#u14943 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  word-wrap:break-word;
}
#u14944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u14944 {
  position:absolute;
  left:552px;
  top:26px;
  width:129px;
  height:22px;
  font-size:18px;
}
#u14945 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u14946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2px;
}
#u14946 {
  position:absolute;
  left:527px;
  top:135px;
  width:749px;
  height:1px;
}
#u14947 {
  position:absolute;
  left:2px;
  top:-8px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u14948 {
  position:absolute;
  left:428px;
  top:272px;
  width:33px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u14949 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
